<omolumeter-side-nav NOTflex='25' layout='row' layout-align='center none'></omolumeter-side-nav>
<div flex>
<md-content flex='grow' style='background-color:#F0F0F0'>
  <!-- 
     This layout="column" kills Safaris
     <md-content layout="column" flex='grow' style='background-color:#F0F0F0'> -->
     <omolumeter-title-bar></omolumeter-title-bar>
    <ng-outlet flex='grow'>
      HELLO
    </ng-outlet>
  </md-content> 
</div>
<!--
<omolumeter-side-nav NOTflex='25' layout='row' layout-align='center none'></omolumeter-side-nav>
<div flex>
  <md-content layout="column" flex='grow' style='background-color:#F0F0F0'>
    <omolumeter-title-bar></omolumeter-title-bar>
    <ng-outlet flex='grow'>
      HELLO
    </ng-outlet>
  </md-content>
</div>
-->


      
