<div layout='row' layout-fill>
<omolumeter-side-nav layout='row' layout-align='center none' ></omolumeter-side-nav>
<!-- <div layout='column'> -->
<md-content layout='column' flex  style="NOT_border:3px pink solid">
  <omolumeter-title-bar></omolumeter-title-bar>
  <!-- The following layout="column" breaks Safari(s) layout s.t. no content in ng-outlet
       <md-content layout="column" flex='grow' style='background-color:#F0F0F0'> 
       -->
  <ng-outlet id='theNgOutlet' flex layout='column' style='NOT_border:3px #008000 solid'>
  </ng-outlet>
</md-content> 
<!-- </div> -->
</div>

      
