<!-- <md-card> -->
  <div>
    <md-toolbar md-scroll-shrink='false' class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
	<span hide show-gt-xs >Raw CSV data:&nbsp;</span><span>{{vm.outbreak.metadata.label}}</span>
      </div>
    </md-toolbar>
    <!--this md-content for above md-scroll-shrink. But it cuts off the md-table-pagination so disabled. <md-content>-->
    
    <div layout-padding>
      <p>
	This is a low-level table view of the raw data that Omolumeter reads.
	This data is used to build the Outbreak API object model in JavaScript, which the visualizations render on the screen.
	The raw data was loaded from <a target='_blank' href='{{vm.csvUrl}}' style='padding:0px;'>a 17,000 row CSV file</a>.
      </p>
    </div>
    
    <md-table-container>
      <table md-table md-row-select='false' ng-model="vm.csvTable" md-progress="vm.timeSeriesPromise">
	<thead md-head md-order="orderingCol" md-on-reorder="onReorder">
	  <tr md-row>
	    <th md-column md-order-by='date'><span>Date</span></th>
	    <th md-column md-order-by='country'><span>Country</span></th>
	    <th md-column md-order-by='indicator'><span>Indicator</span></th>
	    <th md-column md-numeric><span>Value</span></th>
	  </tr>
	</thead>
	<tbody md-body ng-cloak>
	  <tr md-row md-select="dataPoint" md-select-id="{{dataPoint.name}}" md-auto-select
	      ng-repeat="dataPoint in vm.csvTable.data | offset: vm.pagination.page*vm.pagination.limit | limitTo: vm.pagination.limit | orderBy: orderingCol"
	      >
	    <td md-cell style='white-space: nowrap'>{{dataPoint.dateStr }}</td>
	    <td md-cell style='white-space: nowrap'>{{dataPoint.country}}</td>
	    <td md-cell style='white-space: nowrap'>{{dataPoint.indicator}}</td>
	    <!-- JFT-TODO: could truncate these indicators on narrow display via $mdMedia('sm') or such. 
		 So a method on vm.getIndicatorID(dataPoint.indicator) and if $mdMedia says "go short" then do so
		 Or could be vm.shortenIndicatorLable(dataPoint.indicator) and that would remove "Ebola" and "Cumulative number of" become "Cum.#"
                 -->
	    <td md-cell>{{dataPoint.value | number : 0}}</td>
	  </tr>
	</tbody>
      </table>
    </md-table-container>
    
    <!--
    <div layout="column" layout-sm="column" layout-align="center center" ng-show='isDataStillLoading' class='md-hue-3'>
      --		<md-progress-circular md-mode="indeterminate" md-diameter="96" class='md-accent md-hue-3'></md-progress-circular> 
      --
      <br/>
      <p class='md-hue-3'>
	Loading 1000 CSV rows of data...
      </p>
    </div>
      -->
    <md-table-pagination
       ng-disabled="false"
       md-limit-options="[10, 25, 100]"
       md-limit='vm.pagination.limit' 
       md-on-paginate="vm.onPaginate"
       md-page="vm.pagination.page"
       md-page-select
       md-total="{{vm.csvTable.rowCount}}"
       ></md-table-pagination>

    <!--</md-content>-->
  </div>

<!-- </md-card> -->

