<!-- <md-card> -->
  <div>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
	<span>About</span>
      </div>
    </md-toolbar>
<md-content>    
    <md-list class='NOTmd-dense md-hue-3' flex>	      
      <md-list-item class="md-2-line" ng-click="null" ng-disabled='true'>
	<div class="md-list-item-text" layout="column">
	  <h3>Purpose</h3>
	  <p>
	    The subject of this project is epidemiological disease outbreaks.
	    This Omolumeter app provides a high level dashboard for outbreaks, with information presented as an <a target='_blank' href='http://worrydream.com/ExplorableExplanations/'>explorable explanation</a>.
	  </p>
<!--	  <p>
	    This project has two deliverables:
	    define a data standard for outbreak information and produce software which reads the data standard.
	  </p>
  -->
	</div>
      </md-list-item>
      
      <md-list-item class="md-2-line" ng-click="null" ng-disabled='true'>
	<div class="md-list-item-text" layout="column">
	  <h3>Deliverable #1: outbreak data standard</h3>
	  <p>
	    The first deliverable of the project is to define a data standard for epidemiological outbreaks.
	    The data standard is called <a target='_blank' href='https://github.com/JohnTigue/outbreak_time_series/wiki/Outbreak-Time-Series-Specification-Overview'>Outbreak Time Series Specification</a>.
	  </p>
	</div>
      </md-list-item>

      <md-list-item class="md-2-line" ng-click="null" ng-disabled='true'>
	<div class="md-list-item-text" layout="column">
	  <h3>Deliverable #2: outbreak visualization software</h3>
	  <p>
	    Omolumeter is the second of the two deliverables: software which reads Outbreak Time Series Specification compliant data and then visualizes that data.
	    <!-- Data files are read, based upon which a JavaScript object model of the data is made available for the visualizations to render in the web page. -->
	    Data is read from multiple API sources (web sites).
	    The Omolumeter proves that arbitrary web apps can be built which work with the new data standard.
	    This sofware runs completely in the web browser; there is no server-side code. On the web server there is nothing but static files.
	    Omolumeter can also be packages as native apps for iOS and Andriod (via Cordova).
	  </p>
	</div>
      </md-list-item>

      <md-list-item class="md-2-line" ng-click="null" ng-disabled='true'>
	<div class="md-list-item-text" layout="column">
	  <h3>Version</h3>
	  <p>
	    This is Omolumeter version 0.4.5.
	  </p>
	</div>
      </md-list-item>

      
    </md-list>
</md-content>
  </div>
<!-- </md-card> -->
