<md-card>
  <div>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
	<span>About</span>
      </div>
    </md-toolbar>
    <md-list class='md-dense-not md-hue-3' flex>	      
      <md-list-item class="md-2-line" ng-click="null" ng-disabled='true'>
	<div class="md-list-item-text" layout="column">
	  <h3>Purpose</h3>
	  <p>
	    This web-app provides a high level dashboard for epidemological disease outbreaks.
	    This project has two deliverables:
	    define a data standard for outbreak information and produce software which reads the data standard.
	  </p>
	</div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-click="null" ng-disabled='true'>
	<div class="md-list-item-text" layout="column">
	  <h3>Outbreak data standard</h3>
	  <p>
	    The first deliverable of the project is to define a data standard for epidemiological outbreaks.
	    The data standard (or API, or format) is called Outbreak Time Series Specification.
	  </p>
	</div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-click="null" ng-disabled='true'>
	<div class="md-list-item-text" layout="column">
	  <h3>Outbreak software</h3>
	  <p>
	    Omolumeter is the second of the two deliverables: software which reads Outbreak Time Series Specification compliant data and then visualizes that data.
	    The OTSS files are read and a JavaScript object model of the data is made available to the visualizations to render.
	    Data is read from multiple sources (web sites), a task with which the standard Outbreak API is most useful.
	    The Omolumeter is the software which visualizes the Outbreak Time Series data.	    
	  </p>
	</div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-click="null" ng-disabled='true'>
	<div class="md-list-item-text" layout="column">
	  <h3>Version</h3>
	  <p>
	    This is Omolumeter version 0.2.4
	  </p>
	</div>
      </md-list-item>

      <!--
      <md-list-item class="md-2-line" ng-click="null" ng-disabled='true'>
	<div class="md-list-item-text" layout="column">
	  <h3>Build out Outbreak Time Series object model</h3>
	  <p>Explore what the JavaScript object model should look like. Best way to do this is load CSVs (CSVW, eventually) from different sources until data model handles all cases.</p>
	</div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-click="null" ng-disabled='true'>
	<div class="md-list-item-text" layout="column">
	  <h3>Visualize object model</h3>
	  <p>This current raw table view is the most basic visualization. But, clearly each row should be a time interval. And each row has one sub row for each indicator measured. Then horizontally one column for each location (for however many locations). Each cell has 3 numbers (suspected, probable, confirmed). Those 3 numbers are the values for a given indicator during a given interval.</p>
	</div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-click="null" ng-disabled='true'>
	<div class="md-list-item-text" layout="column">
	  <h3>Data table view</h3>
	  <p>There are lots of ways to draw tables with Angular.
	    Currently the table widget being used is md-data-table, which is an open source, high performant data table with Material Design styling.
	    Next UI improvement will be an Outbreak API-aware infinite scroll table with virtual repeat to handle large datasets,
	</div>
      </md-list-item>
      <md-list-item class="md-2-line" ng-click="null" ng-disabled='true'>
	<div class="md-list-item-text" layout="column">
	  <h3>Data is read separately from the Application</h3>
	  <p>The Omolumeter app fetches and parses outbreak data from a CSV file.
	    They load data which are web resources separate from the app; outbreak data is not hardcoded into the app. The data comes from CSV files.</p>
	</div>
      </md-list-item>
-->
    </md-list>
  </div>
</md-card>
